.b2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  h1 {
    color: rgb(69, 69, 69);
    font-family: Manrope;
    font-size: 30px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: left;
  }
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 48px;
    border: 1px solid rgb(69, 69, 69);
    border-radius: 100px;
    p {
      color: rgb(69, 69, 69);
      font-family: Manrope;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
}
.b4 {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  gap: 50px;
  background: rgb(242, 242, 242);
  .catalogimg {
    width: 220px;
    height: 206px;
  }
  h1 {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #454545;
  }
  .b5 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 150px;
    p {
      font-family: Manrope;
      font-size: 14px;
      font-weight: 500;
      line-height: 15.4px;
      text-align: left;
      color: #454545;
    }
  }
}
.b3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}
@media (max-width: 510px) {
  .b4 {
    width: 100%;
    gap: 0;
    .catalogimg {
      width: 120px;
      height: 100px;
    }
  }
}
