.a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .a2 {
    display: flex;
    align-items: center;
    gap: 24px;
    p {
      color: rgb(69, 69, 69);
      font-family: Manrope;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0%;
      text-align: left;
    }
    button {
      border: none;
      background: transparent;
      cursor: pointer;
      color: rgb(69, 69, 69);
      font-family: Manrope;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0%;
      text-align: left;
      opacity: 0.5;
      text-decoration: none;
    }
  }
  .a1 {
    display: flex;
    gap: 27px;
    a {
      color: rgb(69, 69, 69);
      font-family: Manrope;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0%;
      text-align: left;
      opacity: 0.5;
      text-decoration: none;
    }
  }
}
nav {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  .a5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: relative;
    p {
      color: rgb(69, 69, 69);
      font-family: Manrope;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0%;
      text-align: left;
      margin-top: 6px;
    }
    span {
      position: absolute;
      margin-top: -8px;
      margin-left: 25px;
      background: rgb(198, 60, 60);
      border-radius: 50%;
      padding: 3px;
      font-size: 10px;
      color: #fff;
      font-weight: 700;
    }
  }
  .a3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: none;
      border-radius: 100px;
      padding: 14px 28px;
      background: rgb(69, 69, 69);
      text-decoration: none;
    }
    p {
      color: rgb(255, 255, 255);
      font-family: Manrope;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
  .a4 {
    position: relative;
    input {
      width: 606px;
      padding: 14px 35px 14px 24px;
      border: 1px solid rgb(69, 69, 69);
      border-radius: 100px;
      outline: none;
    }
    img {
      margin-left: -30px;
      margin-bottom: -5px;
    }
  }
}
header {
  padding: 12px 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
}
.search {
  position: absolute;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  overflow: auto;
  .searchitems {
    h3 {
      color: rgb(69, 69, 69);
      font-family: Manrope;
      font-size: 20px;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: 0%;
      text-align: left;
      padding-bottom: 3px;
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(69, 69, 69, 0.5);
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 600px;
    }
  }
}
#responsive {
  display: none;
  align-items: center;
  gap: 35px;
  a,
  button {
    text-decoration: none;
    padding: 0;
    background: transparent;
    color: rgb(69, 69, 69);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.5;
  }
  p {
    color: #454545;
  }
  button {
    border: none;
    background: transparent;
    cursor: pointer;
  }
}
//responsive

.navbar-responsive.open {
  left: 0;
}
.menu-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
}

.menu-btn span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
}
.responsivelinks {
  display: flex;
  align-items: center;
  gap: 30px;
}
#responsivesearch {
  display: none;
}
@media (max-width: 1300px) {
  .navbar-responsive {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    transition: 0.5s;
    z-index: 9;
  }
  .menu-btn {
    display: flex;
  }
  .a3,
  #responsive {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .a4,
  #forresponsive,
  .a {
    display: none;
  }
  .a5 p {
    display: none;
  }
  .responsivelogo {
    width: 140px;
    height: 24px;
  }
  .responsivemenu {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  nav {
    justify-content: space-between;
  }
  #responsivesearch {
    display: inline;
    position: relative;
    input {
      width: 100%;
      margin-top: 24px;
      padding: 14px 35px 14px 24px;
      border: 1px solid rgb(69, 69, 69);
      border-radius: 100px;
      outline: none;
    }
    img {
      margin-left: -30px;
      margin-bottom: -5px;
    }
  }
  .search {
    .searchitems h3 {
      max-width: 100%;
    }
  }
}
