* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}
.body {
  font-family: "Manrope", sans-serif;
}
.allproducts {
  color: rgb(69, 69, 69);
  font-family: Manrope;
  font-size: 25px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 125px;
}
